# Email Configuration (SMTP -> Simple Mail Transfer Protocol)
# For Gmail, use an App Password (not your regular password)
# Generate at: https://myaccount.google.com/apppasswords

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your-email@gmail.com # (Is it test?)
SENDER_PASSWORD=your-app-specific-password # (Is it 123?)
SENDER_NAME=TheDebuggersLibrary Notifications
APP_NAME=TheDebuggersLibrary

# Database
# DATABASE_URL=sqlite:///./test.db

# API Keys and Secrets
# SECRET_KEY= your-secret-key-here