/.env                      
/VirtualEnvironment/       
/venv/                     
.vscode/settings.json                 

__pycache__/         
*.pyc    

.pytest_cache/
htmlcov/

# Coverage files
.coverage
htmlcov/
coverage.xml
.cache/
