# --------------------
# Environment/Config
# --------------------
/.env                      # Ignore .env file in the backend root
/VirtualEnvironment/       # Your specified virtual environment
/venv/                     # Common virtual environment name
/.vscode/                  # VS Code specific settings

# --------------------
# Python Compiled/Cache
# --------------------
*.pyc                      # Compiled Python files (including those in app/__pycache__/)
__pycache__/               # Cache directories

# --------------------
# Testing Artifacts
# --------------------
.pytest_cache/
htmlcov/