# /backend/requirements.txt

# Core Frameworks
fastapi
uvicorn[standard]
passlib
python-dotenv
python-jose[cryptography]
bcrypt==4.0.1


# Data Processing (Add if needed)
pandas
python-multipart
Pillow

# Testing
pytest
httpx
pytest-asyncio

Pillow
Deprecated
pytest-mock